<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="com.example.demo.dao.JobAndTriggerMapper">  
    
    <select id="getJobAndTriggerDetails" resultType="com.example.demo.entity.JobAndTrigger">
			SELECT
				qrtz_job_details.JOB_NAME,
				qrtz_job_details.JOB_GROUP,
				qrtz_job_details.JOB_CLASS_NAME,
				qrtz_triggers.TRIGGER_NAME,
				qrtz_triggers.TRIGGER_GROUP,
				qrtz_cron_triggers.CRON_EXPRESSION,
				qrtz_cron_triggers.TIME_ZONE_ID
			FROM
				qrtz_job_details
			JOIN qrtz_triggers
			JOIN qrtz_cron_triggers ON qrtz_job_details.JOB_NAME = qrtz_triggers.JOB_NAME
			AND qrtz_triggers.TRIGGER_NAME = qrtz_cron_triggers.TRIGGER_NAME
			AND qrtz_triggers.TRIGGER_GROUP = qrtz_cron_triggers.TRIGGER_GROUP
    </select>
    
</mapper>